.card-title{
    font-size: 1.25rem;
    color:#2e9c28;
    font-weight: 500;
    line-height: 1.2;
}
.fixed-card{
    /* width: 400px; */
    height: 370px;
    /* margin: 30px auto; */
  }
  .scrollable{
    overflow-y: auto;
    max-height: 300px;
  }
  .cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 220px; 
    white-space: nowrap;
  }
  .click-item {
    color:  #337ab7 !important;
    cursor: pointer;
    }
    .photo-text{
        text-overflow: ellipsis;
        overflow: hidden; 
        width: 80px; 
        height: 1.2em; 
        white-space: nowrap;
    }
.RPhoto{
    overflow-x: hidden;
}