<div class="p-3 mb-2 text-white welcomeText">
    <p>Welcome to</p>
    <h2>My App</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-light mb-3">
                <div class="card-header">Statstics</div>
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <span class="card-title">{{posts.length}}</span>Posts
                    </div>
                    <div>
                        <span class="card-title">{{albums.length}}</span>Albums
                    </div>
                    <div>
                        <span class="card-title">{{photos.length}}</span>Photos
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card fixed-card">
                <div class="card-header">Latest Posts</div>
                <div class="card-body">
                    <div class="scrollable">
                        <div class="m-1" *ngFor="let post of (posts | slice: -15)">
                            <p class="cut-text click-item" [routerLink]="['/post',post.id]">{{post.title}}</p>
                            <p class="cut-text">{{post.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card fixed-card">
                <div class="card-header">Recent Photos</div>
                <div class="card-body">
                    <div class="scrollable RPhoto">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let photo of (photos | slice: -15)">
                                <div class="p-1"><img src="{{photo.thumbnailUrl}}" height="50px"></div>
                                <p class="click-item photo-text" [routerLink]="['/photo',photo.id]">{{photo.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>