<nav id="sidebar" class="">
    <ul class="navbar-nav">
        <li class="nav-item active">

            <a class="nav-link" [routerLink]="['dashboard']" routerLinkActive="is-active">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['post']" routerLinkActive="is-active">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['album']" routerLinkActive="is-active">Album</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['photo']" routerLinkActive="is-active">Photos</a>
        </li>
    </ul>
</nav>