:host {
	
    
}
 #sidebar {
	 min-width: 200px;
	 max-width: 200px;
	 min-height: 100vh;
	 color: #0871c7!important;
	 transition: all 0.3s;
	 font-weight: 600;
	 font-size: 1rem;
	 line-height: 1.5;
	 background-color: #ffffff!important;
	 
}
 #sidebar.hidden {
	 margin-left: -200px;
}
 a[data-toggle="collapse"] {
	 position: relative;
}
.toggle-button {
	display: none !important;
}

 @media (max-width: 575px) {
	 #sidebar {
		 margin-left: -200px;
	}
	 #sidebar.hidden {
		 margin-left: 0;
	}
	.toggle-button {
        display:flex !important;
    }
}
 a, a:hover, a:focus {
	 color: inherit;
}
 #sidebar .sidebar-header {
	 padding: 20px;
}
 #sidebar ul li a {
	 padding: 15px;
	 display: block;
	 width: 100%;
}
 #sidebar ul li a:hover {
	 background-color: rgba(255, 255, 255, 0.1);
}
 hr {
	 border-top: 1px solid #fff;
	 margin-top: 0;
}
.is-active{
	 background-color: #0871c7!important;
	 color: #ffffff!important;
 }
 .float-right{
	 float:right
 }
 @media screen and (max-width: 1024px) {
    .toggle-button {
        display: none !important;
    }
}
@media only screen and (max-width: 600px) {
	.toggle-button {
        display:flex !important;
    }
}

@media only screen and (min-width: 600px) {
	.toggle-button {
        display:flex !important;
    }
}
@media only screen and (min-width: 768px) {
	.toggle-button {
		display: none !important;
	}
}
@media only screen and (min-width: 992px) {
	.toggle-button {
		display: none !important;
	}
}