/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./../node_modules/datatables.net-dt/css/jquery.dataTables.css";
html {
    height: 100%;
  }
  body {
    height: 100%;
  }


  app-dashboard {
      width: 100% !important;
  }

  .welcomeText{
    background-color: #337ab7;
    padding-left: 50px!important;
  }
  .welcomeText p{
    margin-bottom: 0rem!important;
  }

